<%- include('partials/header.ejs') -%>
<% console.log(id) %>
<section
  class="hero-wrap hero-wrap-2 js-fullheight"
  style="background-image: url('images/bg_1.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-end justify-content-center"
    >
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">Blog Single</h1>
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a
          ></span>
          <span class="mr-2"
            ><a href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a
          ></span>
          <span>Blog Single <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <p class="mb-5">
          <img src="<%= image %>" alt="" class="img-fluid" />
        </p>
        <h2 class="mb-3"><%= title %>></h2>
        <p><%= description %></p>


        <div class="comment-form-wrap pt-5">
          <h3 class="mb-5">Leave a comment</h3>
          <form action="/posts/comments" method="POST" class="p-5 bg-light">
            <input type="hidden" value="<%= id %>" name="postId">

            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" name="title" class="form-control" id="name" />
            </div>
            
            
            <div class="form-group">
              <label for="message">Message</label>
              <textarea
                name="content"
                id="message"
                cols="30"
                rows="10"
                class="form-control"
              ></textarea>
            </div>
            <div class="form-group">
              <input
                type="submit"
                value="Post Comment"
                class="btn py-3 px-4 btn-primary"
              />
            </div>
          </form>
        </div>

        <div class="pt-5 mt-5">
          <h3 class="mb-5"><%= comments.length %> Comments</h3>
          <!-- END comment-list -->

					<% comments.forEach((comment)=>{ %>
            <ul class="comment-list">
              <li class="comment">
                <div class="vcard bio">
                  <img src="https://t3.ftcdn.net/jpg/02/95/65/16/240_F_295651661_Kih7iNhJM9hSpyqWdUngcoxvNzAA3ktE.jpg" alt="Image placeholder" />
                </div>
                <div class="comment-body">
                  <h3><%= comment.title %></h3>
                  <div class="meta mb-3">

											<p class="mb-0"><%= comment.createdAt.toDateString() %></p>


                  </div>
                  <p>
                   <%= comment.content %>
                  </p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
              </li>
            </ul>
  				<%	}) %> 


        </div>
      </div>
      <!-- .col-md-8 -->
    </div>
  </div>
</section>
<%- include('partials/footer.ejs') -%>
